<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn">
        <app-sidebar></app-sidebar>
    </ng-container>
    <main class="page-content">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleSidebar()">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
        </nav> -->

        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button icon="fa fa-bars" (click)="toggleSidebar()"></p-button>
                <!-- <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

                <i class="pi pi-bars"></i> -->

                <!-- <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning">
                </p-splitButton> -->
            </div>

            <div class="p-toolbar-group-right">
                <!-- <p-button icon="pi pi-search"></p-button>
                <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>-->
                <p-button icon="fa fa-power-off size-icon" styleClass="p-button-rounded p-button-danger"></p-button>
                <!-- <button pButton pRipple type="button" icon="fa fa-power-off size-icon" class="p-button-rounded p-button-danger"></button> -->
            </div>
        </p-toolbar>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>